@charset "utf-8";
/* CSS document */

html{
	font-size: 18px;
}

body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #444444;
	background-color: #fff;
	font-feature-settings: "palt";
	letter-spacing: normal;
	line-height: 1.6;
    
    width: 100%;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    /* color: #955400; */
    text-decoration: none;
    font-weight: 900;
}
p{
    margin: 16px 0;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header*/
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img { /* 12秒かけて拡大させる */
    -webkit-animation: zoomUp 12s linear 0s;
    animation: zoomUp 12s linear 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slide-img.img01{
    background: url("../images/header_pict1.png") center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.slide-img.img02{
    background: url("../images/header_pict2.png") top;
    width: 100vw;
    height: 100vh;
}
  
  @keyframes zoomUp { /* 1.15倍させる指定 */
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
  }

.header_wrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
h1{
    font-size: 56px;
    background-color: rgba(255,255,255,0.7);
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav{
    width: 1200px;
    margin: 56px auto;
}
.menu,
.language{
    background-color: #444444;
    padding: 16px;
    margin-bottom: 56px;
    border-radius: 16px;
}
.menu a,
.language a{
    width: 100%;
    padding: 32px 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 16px;
    position: relative;
    font-size: 24px;
}
.menu a:hover,
.language a:hover{
    background-color: lightgray;
    color: #444;
}
.menu{
    width: 500px;
    margin-right: auto;
}
.language{
    width: 300px;
    margin-left: auto;
}
.menu a.active,
.language a.active{
    background-color: #fff;
    color: #444;
}

/*main*/
.main{
    width: 1200px;
    margin: 0 auto;
}
section{
    margin-bottom: 96px;
}
h2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 32px;
}



/*footer*/
footer{
    width: 100%;
    background-color: #61C1BD;
    padding: 56px 0;
}
footer>small{
    display: block;
    width: 1000px;
    margin: 0 auto;
    text-align: right;
}


@media screen and (max-width:1240px){
    h1{
        font-size: 32px;
        padding: 32px;
        width: fit-content;
    }
    nav{
        width: 100%;
        padding: 0 30px;
    }
    .menu a,
    .language a{
        padding: 16px;
        font-size: 18px;
    }
    .menu{
        width: 45%;
    }
    .language{
        width: 30%;
    }
    
    
    /* main */
    .main{
        width: 1000px;
    }
    h2{
        font-size: 32px;
        margin-bottom: 32px;
    }
    
    footer>small{
        width: 100%;
        padding-right: 24px;
        font-size: 14px;
    }
    
}
@media screen and (max-width:1024px){
    .menu{
        width: 70%;
        
    }
    .language{
        width: 40%;
        
    }
    /* main */
    .main{
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width:640px){
    html{
        font-size: 16px;
    }

    .menu{
        width: 100%;
        flex-direction: column;
    }
    .language{
        width: 45%;
        flex-direction: column;
    }


    section{
        margin-bottom: 56px;
    }





}