@charset "utf-8";
/* CSS document */

html{
	font-size: 18px;
}

body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #444444;
	background-color: #fff;
	font-feature-settings: "palt";
	letter-spacing: normal;
	line-height: 1.6;
    
    width: 100%;

    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    /* color: #955400; */
    text-decoration: none;
    font-weight: 900;
}
p{
    margin: 16px 0;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header*/
header{
    position: relative;
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img { /* 12秒かけて拡大させる */
    -webkit-animation: zoomUp 12s linear 0s;
    animation: zoomUp 12s linear 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slide-img.img01{
    background: url("../images/header_pict1.png") center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.slide-img.img02{
    background: url("../images/header_pict2.png") top;
    width: 100vw;
    height: 100vh;
}
  
  @keyframes zoomUp { /* 1.15倍させる指定 */
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
  }

.header_wrapper{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
body.top h1{ 
    font-size: 56px;
    background-color: rgba(255,255,255,0.7);
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1>a{
    color: #444;
}
body.illustration h1,
body.web h1{
    font-size: 56px;
    width: 1200px;
    margin: 56px auto 0;
}
nav{
    width: 1200px;
    margin: 56px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.menu,
.language{
    background-color: #444444;
    padding: 16px;
    margin-bottom: 56px;
    border-radius: 16px;
}
.menu a,
.language a{
    width: 100%;
    padding: 32px 16px;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 16px;
    position: relative;
    font-size: 24px;
}
.menu a:hover,
.language a:hover{
    background-color: lightgray;
    color: #444;
}
.menu{
    width: 60%;
    margin-right: auto;
}
.language{
    width: 30%;
    margin-left: auto;
}
.menu a.active,
.language a.active{
    background-color: #fff;
    color: #444;
}

/*TOP_main*/
.main{
    /* width: 1200px;
    margin: 0 auto; */
    
}
section{
    margin-bottom: 96px;
}
h2{
    font-size: 40px;
    font-weight: 900;
    width: 1200px;
    margin: 0 auto 32px;
}
.wrapper{
    margin: 112px 0 0;
}
.img{
    width: 50%;
    height: auto;
    position: relative;
    z-index: 1000;
}
.img>img{
    display: block;
    margin-left: auto;
    margin-right: 104px;
    margin-top: -56px;
}
.img::before{
    content: "";
    display: block;
    width: 80%;
    height: 369px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    background-image: url(../images/01.jpg);
}
.text{
    width: 50%;
    padding: 56px 0;
    
}
.text_inner{
    width: 620px;
    margin-right: auto;
}
.flex.post{
    margin: 112px auto 0;
    justify-content: center;
}
.flex.post p{
    text-align: center;
    margin-left: auto;
    padding-right: 112px;
}
.post_icon{
    display: block;
    margin-right: auto;
    position: relative;
}
.post_icon:hover::before{
    content: "";
    display: block;
    width: 80px;
    height: 6px;
    border-radius: 2px;
    background-color: #444;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: -100px;
}
.post_icon:hover::after{
    content: "";
    display: block;
    width: 80px;
    height: 6px;
    border-radius: 2px;
    background-color: #444;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 0px;
    left: -100px;
}
.post_icon img{
    width: 50%;
}

/* illustration & Web*/
.setsumei{
    width: 1200px;
    margin: 0 auto;
}
.setsumei.flex>div:first-of-type{
    width: 45%;
}
.setsumei .flex.skill{
    width: 45%;
}
.setsumei .flex.skill>div:first-of-type{
    width: 30%;
}
.setsumei .flex.skill>div:last-of-type{
    width: 60%;
}
.skill{
    margin-top: 0px;
}
.web .syoukai{
    width: 1200px;
    margin: 0 auto 56px;
}
.syoukai_inner_right{
    width: 678px;
}
.artwork{
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}
.artwork>a{
    max-width: 530px;
    display: block;
    margin: 0 auto;
}


/*footer*/
footer{
    width: 100%;
    background-image: url(../images/01.jpg);
    padding: 56px 0;
}
footer>small{
    display: block;
    width: 1000px;
    margin: 0 auto;
    text-align: right;
    color: #fff;
}

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #444;
    border-radius: 50%;
}
#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 32px;
}

@media screen and (max-width:1240px){
    h1{
        font-size: 32px;
        padding: 0;
        width: fit-content;
    }
    body.illustration h1,
    body.web h1{
        font-size: 32px;
        width: calc(100% - 60px);
        margin: 56px auto 0;
    }
    nav{
        width: 100%;
        padding: 0 30px;
        margin: 30px 0;
    }
    .menu a,
    .language a{
        padding: 16px;
        font-size: 18px;
    }
    .menu{
        width: 45%;
    }
    .language{
        width: 30%;
    }
    
    
    /* main */
    .main{
        width: 100%;
    }
    h2{
        width: calc(100% - 60px);
        font-size: 32px;
        margin: 0 auto 32px;
    }
    .wrapper{
        margin: 112px 0 0;
    }
    .img{
        width: 50%;
        height: auto;
        position: relative;
        z-index: 1000;
    
        
    }
    .img>img{
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    .img::before{
        width: 80%;
        height: 369px;
    }
    .text{
        width: 50%;
        margin-left: auto;
        padding: 56px 30px;  
    }
    .text_inner{
        width: 100%;
        margin-right: auto;
    }


    /* illustration & Web*/
    .setsumei{
        width: calc(100% - 60px);
        margin: 0 auto;
    }
    .web .syoukai{
        width: calc(100% - 60px);   
    }
    .syoukai_inner_right{
        width: 50%;
        margin-left: 32px;
    }

    .artwork{
        width: calc(100% - 60px);
    }
    
    footer>small{
        width: 100%;
        padding-right: 24px;
        font-size: 14px;
    }
    
}
@media screen and (max-width:1024px){
    .menu{
        width: 55%;
        
    }
    .language{
        width: 40%;
        
    }
    .menu a,
    .language a{
        font-size: 16px;
        padding: 10px;
    }

    /* main */
    .main{
        width: 100%;
        /* padding: 30px; */
    }
    h2{
        font-size: 32px;
        margin: 0 auto 32px;
    }
    .wrapper{
        margin: 112px 0 0;
        flex-direction: column;
    }
    .img{
        width: 100%;        
    }
    .img>img{
        margin: -56px auto 0;

    }
    .img::before{
        width: 560px;
        height: 369px;
    }
    .text{
        /* width: calc(100% - 60px); */
        width: 490px;
        margin: 112px auto 0;
        padding: 0;
    }
    .flex.post{
        margin: 56px auto 0;
        width: calc(100% - 60px);
    }
    .flex.post p{
        text-align: center;
        margin-left: auto;
        padding-right: 88px;
    }

    .setsumei{
        flex-direction: column;
    }
    .setsumei.flex>div:first-of-type{
        width: 85%;
    }
    .setsumei .flex.skill{
        width: 85%;
    }
    .setsumei .flex.skill>div:first-of-type{
        width: 30%;
    }
    .setsumei .flex.skill>div:last-of-type{
        width: 60%;
    }
    .skill{
        margin-top: 56px;
    }
    .artwork img{
        max-width: 100%;
        min-width: 300px;
    
    }
}

@media screen and (max-width:640px){
    html{
        font-size: 16px;
    }
    body.top h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
        margin: 0 auto 32px;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
    .menu{
        width: 55%;
        flex-direction: column;
    }
    .language{
        width: 40%;
        flex-direction: column;
    }
    .menu li,
    .language li{
        width: 100%;
        margin-bottom: 16px;
    }
    .menu li:last-of-type,
    .language li:last-of-type{
        margin-bottom: 0;
    }

    section{
        margin-bottom: 56px;
    }

    .wrapper{
        margin: 112px 0 0;
        flex-direction: column;
    }
    .img{
        width: 100%;        
    }
    .img>img{
        margin: -56px auto 0;
        padding: 0 30px;
    }
    .img::before{
        width: 85%;
        height: calc(100% + 56px);
    }
    .text{
        width: calc(100% - 60px);
        margin: 112px auto 0;
        padding: 0;
    }


    /* illustration & Web*/
    .syoukai_inner.flex{
        flex-direction: column;
    }
    .syoukai_inner_right{
        width: 85%;
        margin-left: 0;
        margin-top: 32px;
    }


    .post_icon:hover::before{
        display: none;
    }
    .post_icon:hover::after{
        display: none;
    }


}