@charset "utf-8";
/* CSS document */

html{
	font-size: 18px;
}

body{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: #444444;
	background-color: #fff;
	font-feature-settings: "palt";
	letter-spacing: normal;
	line-height: 1.6;
    
    background: url("../images/bg.jpg") 100% repeat-y fixed;
    width: 100%;
}

header,.main{
    width: 1000px;
    margin: 0 auto;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: #955400;
    text-decoration: none;
    font-weight: 900;
}
p{
    margin: 16px 0;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*header*/
header{
    margin: 24px auto 96px;
}
h1{
    
}
.header_icon_list>.flex{
    width: 400px;
}
.header_icon_list span{
    display: block;
    text-align: center;
}


/*main*/
.text_right{
    text-align: right;
}
section{
    margin-bottom: 96px;
}
h2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 32px;
}
.jikosyoukai.flex{
    align-items: flex-start;
    margin-bottom: 32px;
}
.jikosyoukai.flex ul{
    list-style: disc;
}
.jikosyoukai.flex ul>li{
    margin: 16px 0;
}
.flex_moji{
    width: 490px;
    margin-left: 0;
    margin-right: 0;
}
.flex_img{
    width: 490px;
}
h3{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 24px;
}
.txt_strong{
    font-size: x-large;
    font-weight: 900;
    line-height: 2;
}

.icon_outer{
    display: block;
}
.icon_outer>ul.flex{
    justify-content: flex-end;
}
.icon_outer>ul.flex>li{
    margin-right: 16px;
}
.icon_outer>ul.flex>li:last-of-type{
    margin-right: 0;
}
a.flex.icon{
    width: 95px;
    flex-direction: column;
    margin-left: auto;
}
a.flex.icon>span{
    text-align: center;
}


/*footer*/
footer{
    width: 100%;
    background-color: #61C1BD;
    padding: 56px 0;
}
footer>small{
    display: block;
    width: 1000px;
    margin: 0 auto;
    text-align: right;
}


@media screen and (max-width:1020px){
    body{
        
    }
    header,.main{
        width: 100%;
        padding: 0 24px;
    }
    header.flex{
        flex-direction: column;
        width: 100%;
    }
    .header_icon_list>.flex{
        width: 100%;
        margin: 32px auto 0;
    }
    .header_icon_list>.flex>li{
        margin-right: 16px;
    }
    .header_icon_list>.flex>li:last-of-type{
        margin-right: 0;
    }
    .flex_moji{
        width: 50%;
    }
    .flex_img{
        width: 45%;
    }
    
    
    footer>small{
        width: 100%;
        padding-right: 24px;
        font-size: 14px;
    }
    
}

@media screen and (max-width:640px){
    html{
        font-size: 16px;
    }
    section{
        margin-bottom: 56px;
    }
    h2{
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 32px;
    }
    h3{
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 24px;
    }
    
    .header_icon_list>.flex>li{
        
        margin-right: 16px;
    }
    
    .jikosyoukai.flex{
        flex-direction: column;
        align-items: center;
    }
    .jikosyoukai.flex.reverse{
        flex-direction: column-reverse;
    }
    .flex_moji{
        width: 100%;
    }
    .flex_img{
        width: 90%;
        margin: 0 auto 16px;
    }
    
    .txt_strong p{
        font-size: large;
    }
    
    a.flex.icon{
        width: 55px;
    }
    a.flex.icon>span{
        font-size: 14px;
    }
}